#contact-form {
  margin-top: 5%;
}
#contact-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: var(--lightest-slate);
  font-size: 26px;
}
#contact-form input::placeholder {
  color: var(--slate);
  font-size: 26px;
}

#contact-form input:focus {
  border-bottom: 3px solid var(--light-purple);
  box-shadow: 0 0 5px var(--light-purple);
  color: var(--lightest-slate);
}
#contact-form input:focus::placeholder {
  color: transparent;
}

#contact-form textarea {
  background: transparent;
  border: none;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  color: var(--lightest-slate);
  font-size: 26px;
}

#contact-form textarea::placeholder {
  color: var(--slate);
  font-size: 26px;
}

#contact-form textarea:focus::placeholder {
  color: var(--lightest-slate);
}
#contact-form textarea:focus {
  border-bottom: 3px solid var(--light-purple);
  border-right: 3px solid var(--light-purple);
  box-shadow: 0 0 5px var(--light-purple);
}

.btn-custom {
  background-color: transparent;
  color: var(--lightest-slate);
  border: 1px solid white;
  font-size: 26px;
  width: 120px;
}

.btn-custom:hover {
  background-color: white;
  color: black;
}

.btn-custom:focus {
  box-shadow: 0 0 5px var(--light-purple);
}

#contact-form .form-group {
  margin-bottom: 12.5%;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
  #landing-text {
    width: 75%;
    white-space: nowrap;
  }

  #landing h1 {
    font-size: 5em;
  }
}
