#landing {
  padding-top: 10%;
  min-height: 100vh;
}

#landing h1 {
  font-size: 7em;
}

#landing h2 {
  color: var(--slate);
}

@media only screen and (max-width: 768px) {
  #landing {
    min-height: 72.5vh;
  }

  #landing .landing-description {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 600px) {
  #landing {
    min-height: 40vh;
  }

  #landing h1 {
    font-size: 4em;
  }

  #landing .landing-description {
    padding: unset;
  }
}